body {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    padding: 0 1rem;
}

table {
    margin-bottom: 2rem;
}

hr {
    border: .1px solid black;
}

.home-icon {
    width: 3rem;
    padding: 1rem 0rem 0rem 0rem;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem 0rem;
}

td {
    padding: 1rem;
    background-color: antiquewhite;
    font-size: 1.5rem;
    margin: auto;
}

th {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    background-color: rgb(173, 217, 255);
    text-transform: uppercase;
    color: maroon;
    text-shadow: 0px 0px 1px white;
    padding: 1rem 0rem;
    margin: auto;
    letter-spacing: .4rem;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.indent {
    text-indent: 2.5rem;
    margin: 0;
    padding: 0;
}

.h1 {
    text-align: center;
    margin: 1rem auto;
}

a {
    padding-left: 20px;
}

h1 {
    font-size: clamp(2rem, 3vw + 1rem, 5rem);
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: clamp(1.9rem, 2.7vw + 1rem, 4.5rem);
    font-weight: 500;
    margin: 0;
    color: blue;
}

h3 {
    font-size: clamp(1.8rem, 2.4vw + 1rem, 4rem);
    font-weight: 400;
    margin: 0;
    text-decoration: underline;
}

h4 {
    font-size: clamp(1.7rem, 2.1vw + 1rem, 3.5rem);
    font-weight: 300;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

h5 {
    font-size: clamp(1.6rem, 1.8vw + 1rem, 3rem);
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
}

h6 {
    font-size: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
    font-weight: 100;
    margin: 0;
    text-align: center;
}

ul {
    list
}


        /* --- LESSON3.HTML --- */

.h1-l3 {
    font-size: clamp(1rem, 1.5vw + 1rem, 2.5rem);
}

.li-indentl3{
    padding-left: 4rem;
}

.ol-l3 {
    color: red;
    text-decoration: underline;
}